*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.marginOne{background-color:#0E6249;}
.marginTwo{background-color:#18A278  ;}
.marginThree{background-color: #1ED39C ;}
.marginFour{background-color: #BCFFEB;}
.marginMain{background-color: #2D3432 ;}
header{
    display: flex;
    height: 30vh;
    background-image: url('./jogos-da-playstation-2022-1-1920x1024.png');
    background-repeat: no-repeat;
}
header nav{
    display: flex;
    align-items: center;
}
header ul{
    display: flex;
    width: 80vw;
    justify-content: space-evenly;
    align-items: center;
}
header h1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
}
figure img{
    width: 15vw;
}
main{
    height: 30vh;
}